<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Band List Client</title>
</head>
<body>
<table id="band-list">
    <thead>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Founded Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="band : ${bandList}">
        <td th:text="${{band.name}}">1</td>
        <td th:text="${{band.country}}">Afrikalı Leo</td>
        <td th:text="${{band.foundedYear}}">Amin Maalouf</td>
    </tr>
    </tbody>
</table>
</body>
</html>